/* this id the css file for the card component */

.card {
  padding: 2em;
  border-radius: 1em;
  background-color: #fff;
  margin: 1em;
  display: inline-block;
  width: 100px;
}

.card img {
  width: 100%;
  border-radius: 1em;
}

.card h2 {
  color: #222;
  font-size: 1.5em;
  margin: 0.5em 0;
  text-align: center;
}

.card a {
  color: #222;
  text-decoration: none;
}

.card a:hover {
  color: #0cabf5de;
  box-shadow: 0 0 1em #0cabf5de;
  text-decoration: underline;
}

.card.hover {
  box-shadow: 0 0 1em #0cabf5de;
}